<header>
  <div class="text">
    {{'HEADER.AUTHORS' | translate}}: <a href="https://github.com/arsnazarenko">{{'HEADER.AUTHORS_1' | translate}}</a> &
    <a href="https://github.com/Cherrywood6918">{{'HEADER.AUTHORS_2' | translate}}</a> <br>
    {{'HEADER.GROUP' | translate}}: P3232, {{'HEADER.UNIVERSITY' | translate}} <br>
    28213
  </div>
  <div class="select">
   <label for="langSelect">{{'HEADER.LABEL_LANGUAGE' | translate}}</label><br>
    <select id="langSelect" #selectList (change)="useLanguage(selectList.selectedIndex)">
      <option>{{'HEADER.LANGUAGE.EN' | translate}}</option>
      <option>{{'HEADER.LANGUAGE.RU' | translate}}</option>
      <option>{{'HEADER.LANGUAGE.ES' | translate}}</option>
    </select>
  </div>
</header>
