header {
  width: 100%;
  color: white;
}

a {
  text-decoration:none;
  color: #dd1144;
  font-weight: bold;
}

select {
  outline: none;
  background: #000024;
  color: white;
  font-family: 'Arial', serif;
  padding: 0 5px;
  margin-top: 5px;
}
label {
  color: white;
}
.select {
  text-align: right;
}

@media screen and (min-width: 760px){
  @media screen and (min-height: 1200px) {
    header {
      height: 250px;
      font-size: 35px;
    }
    select {
      font-size: 25px;
      width: 250px;
    }
    label {
      font-size: 25px;
    }
    .text {
      padding-top: 20px;
      padding-left: 20px;
    }
    a:hover {
      font-size: 36px;
    }
    .select {
      padding: 5px 20px 5px 5px;
    }
  }
  @media screen and (min-height: 900px) and (max-height: 1199px) {
    header {
      height: 160px;
      font-size: 25px;
    }
    select {
      font-size: 20px;
      width: 175px;
    }
    label {
      font-size: 20px;
    }
    .text {
      padding-top: 14px;
      padding-left: 14px;
    }
    a:hover {
      font-size: 26px;
    }
    .select {
      padding: 5px 14px 5px 5px;
    }
  }

  @media screen and (max-height: 899px) {
    header {
      height: 130px;
      font-size: 20px;
    }
    select {
      font-size: 15px;
      width: 125px;
    }
    label {
      font-size: 15px;
    }
    .text {
      padding-top: 10px;
      padding-left: 10px;
    }
    a:hover {
      font-size: 21px;
    }
    .select {
      padding: 5px 10px 5px 5px;
    }
  }

}

@media screen and (max-width: 759px){
  @media screen and (min-height: 1200px) {
    header {
      height: 280px;
      font-size: 30px;
      background: #dd1144;
    }
    select {
      font-size: 25px;
      width: 175px;
    }
    label {
      font-size: 25px;
    }
    .text {
      padding-top: 14px;
      text-align: center;
    }
    a{
      color: #000024;
    }
    a:hover {
      font-size: 31px;
    }
    .select {
      text-align: center;
      padding: 5px 0;
    }
  }
  @media screen and (min-height: 900px) and (max-height: 1199px) {
    header {
      height: 200px;
      font-size: 22px;
      background: #dd1144;
    }
    select {
      font-size: 18px;
      width: 175px;
    }
    label {
      font-size: 18px;
    }
    .text {
      padding-top: 14px;
      text-align: center;
    }
    a{
      color: #000024;
    }
    a:hover {
      font-size: 23px;
    }
    .select {
      text-align: center;
      padding: 5px 0;
    }
  }

  @media screen and (max-height: 899px) {
    header {
      height: 180px;
      font-size: 18px;
      background: #dd1144;
    }
    select {
      font-size: 16px;
      width: 125px;
    }
    label {
      font-size: 16px;
    }
    .text {
      padding-top: 10px;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
    }
    a{
      color: #000024;
    }
    a:hover {
      font-size: 19px;
    }
    .select {
      text-align: center;
      padding: 5px 0;
    }
  }
}


