header {
  width: 100%;
  color: white;
}

a {
  text-decoration:none;
  color: #E23E57;
  font-weight: bold;
}

select {
  outline: none;
  background: #311D3F;
  color: white;
  font-family: 'Arial', serif;
  padding: 0 5px;
  margin-top: 5px;
}
label {
  color: white;
}
.select {
  text-align: right;
}

@media screen and (min-width: 760px){
  @media screen and (min-height: 1200px) {
    header {
      height: 250px;
      font-size: 35px;
    }
    select {
      font-size: 30px;
      width: 250px;
    }
    label {
      font-size: 30px;
    }
    .text {
      padding-top: 20px;
      padding-left: 20px;
    }
    a:hover {
      font-size: 36px;
    }
    .select {
      padding: 5px 20px 5px 5px;
    }
  }
  @media screen and (min-height: 900px) and (max-height: 1199px) {
    header {
      height: 160px;
      font-size: 25px;
    }
    select {
      font-size: 20px;
      width: 175px;
    }
    label {
      font-size: 20px;
    }
    .text {
      padding-top: 14px;
      padding-left: 14px;
    }
    a:hover {
      font-size: 26px;
    }
    .select {
      padding: 5px 14px 5px 5px;
    }
  }

  @media screen and (max-height: 899px) {
    header {
      height: 130px;
      font-size: 20px;
    }
    select {
      font-size: 15px;
      width: 125px;
    }
    label {
      font-size: 15px;
    }
    .text {
      padding-top: 10px;
      padding-left: 10px;
    }
    a:hover {
      font-size: 21px;
    }
    .select {
      padding: 5px 10px 5px 5px;
    }
  }

}

@media screen and (max-width: 759px){
  a{
    color: #311D3F;
  }
  header {
    background: #E23E57;
  }
  .text {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .select {
    padding: 5px 5px 10px;
  }

  @media screen and (min-height: 1200px) {
    header {
      font-size: 27px;
    }
    select {
      font-size: 27px;
      width: 175px;
    }
    label {
      font-size: 27px;
    }
    a:hover {
      font-size: 28px;
    }

  }
  @media screen and (min-height: 900px) and (max-height: 1199px) {
    header {
      font-size: 18px;
    }
    select {
      font-size: 18px;
      width: 140px;
    }
    label {
      font-size: 18px;
    }
    a:hover {
      font-size: 19px;
    }

  }
  @media screen and (max-height: 899px) {
    header {
      font-size:15px;
    }
    select {
      font-size: 15px;
      width: 100px;
    }
    label {
      font-size: 15px;
    }
    a:hover {
      font-size: 16px;
    }
  }
}
