
.wrapper {
  max-width: 2560px;
  height: 100vh;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-content {
  text-align: center;
  margin-top: 20px;
  background: white;
}

span {
  color: #E23E57;
  font-size: 30px;
}

@media screen and (min-height: 1200px) {
  .content {
    height: calc(100vh - 250px);
  }
}
@media screen and (min-height: 900px) and (max-height: 1199px) {
  .content {
    height: calc(100vh - 160px);
  }
}

@media screen and (min-height: 600px) and (max-height: 899px) {
  .content {
    height: calc(100vh - 130px);
  }
}

@media screen and (max-height: 599px){
  .content {
    min-height: 400px;
  }
}
@media screen and (max-width: 759px) {
  .content{
    display: block;
  }
}
@media screen and (max-width: 500px){
  .wrapper {
    min-width: 350px;
  }
}

@media screen and (min-height: 1200px) and (max-width: 600px){
  .wrapper {
    min-width: 500px;
  }
}
