:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dd1144;
  border-radius: 10px;
  outline: 1px dashed white;
  outline-offset: -10px;
}

form {
  width: 100%;
  height: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title {
  color: #000024;
}

.field {
  text-align: center;
}

label {
  color: #000024;
}

.title {
  text-align: center;
  font-weight: bold;
}

.button {
  text-align: center;
}

.error-message {
  text-align: center;
  color: darkred;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  @media screen and (min-height: 1200px) {
    :host {
      width: 600px;
    }

    .form-content {
      padding: 70px 20px;
    }

    .title {
      font-size: 35px;
      margin-bottom: 40px;
    }

    .field {
      margin: 20px;
      text-align: center;
    }

    input {
      font-size: 30px;
    }

    .check {
      margin-top: 15px;
    }

    label {
      font-size: 24px;
    }

    #sign-in {
      margin-top: 20px;
      margin-bottom: 3px;
    }

    #sign-up {
      margin-bottom: 20px;
      margin-top: 3px;
    }

    .error-message {
      padding: 5px;
      font-size: 20px;
      width: 100%;
    }

    .btn {
      font-size: 26px;
      width: 400px;
      height: 60px;
    }
  }
  @media screen and (min-height: 800px) and (max-height: 1199px) {
    :host {
      width: 420px;
    }

    .form-content {
      padding: 49px 14px;
    }

    .title {
      font-size: 25px;
      margin-bottom: 28px;
    }

    .field {
      margin: 14px;
      text-align: center;
    }

    input {
      font-size: 21px;
    }

    .check {
      margin-top: 11px;
    }

    label {
      font-size: 17px;
    }

    #sign-in {
      margin-top: 14px;
      margin-bottom: 2px;
    }

    #sign-up {
      margin-bottom: 14px;
      margin-top: 2px;
    }

    .error-message {
      padding: 4px;
      font-size: 14px;
      width: 100%;
    }

    .btn {
      font-size: 18px;
      width: 280px;
      height: 42px;
    }
  }

  @media screen and (max-height: 799px) {
    :host {
      width: 300px;
    }

    .form-content {
      padding: 35px 15px;
    }

    .title {
      font-size: 18px;
      margin-bottom: 16px;
    }

    .field {
      margin: 8px;
      text-align: center;
    }

    input {
      font-size: 15px;
    }

    .check {
      margin-top: 6px;
    }

    label {
      font-size: 12px;
    }

    #sign-in {
      margin-top: 8px;
      margin-bottom: 3px;
    }

    #sign-up {
      margin-bottom: 8px;
      margin-top: 3px;
    }

    .error-message {
      padding: 2px;
      font-size: 10px;
      width: 100%;
    }

    .btn {
      font-size: 10px;
      width: 180px;
      height: 35px;
    }

    @media screen and (max-height: 599px) {
      :host {
        margin: 50px;
      }
    }
  }
}

@media screen and (max-width: 759px) {
  :host{
    background: #dd1144;
    border-radius: 0;
    outline: none;
    outline-offset: 0;
    margin-top: 5px;
    border-top: 1px white solid;
  }

  @media screen and (min-height: 1200px) {
    :host {
      width: 100%;
      min-width: 500px;
      margin: 0;
    }

    .form-content {
      padding: 15px 40px;
    }

    .title {
      font-size: 35px;
      margin-bottom: 40px;
    }

    .field {
      margin: 20px;
      text-align: center;
      width: 100%;
    }

    input[type=text], input[type=password] {
      font-size: 30px;
      width: 100%;
    }

    .check {
      margin-top: 15px;
    }

    label {
      font-size: 26px;
    }

    #sign-in {
      margin-top: 20px;
      margin-bottom: 3px;
    }

    #sign-up {
      margin-bottom: 20px;
      margin-top: 3px;
    }

    .error-message {
      padding: 5px;
      font-size: 20px;
      width: 100%;
    }

    .btn {
      font-size: 26px;
      width: 100%;
      height: 60px;
    }

    .buttons-container {
      width: 100%;
    }
  }
  @media screen and (min-height: 800px) and (max-height: 1199px) {
    :host {
      width: 100%;
      min-width: 300px;
      margin: 0;
    }

    .form-content {
      padding: 15px 28px;
    }

    .title {
      font-size: 25px;
      margin-bottom: 28px;
    }

    .field {
      margin: 14px;
      text-align: center;
      width: 100%;
    }

    input[type=text], input[type=password] {
      font-size: 21px;
      width: 100%;
    }

    .check {
      margin-top: 11px;
    }

    label {
      font-size: 18px;
    }

    #sign-in {
      margin-top: 14px;
      margin-bottom: 3px;
    }

    #sign-up {
      margin-bottom: 14px;
      margin-top: 3px;
    }

    .error-message {
      padding: 5px;
      font-size: 14px;
      width: 100%;
    }

    .btn {
      font-size: 18px;
      width: 100%;
      height: 42px;
    }

    .buttons-container {
      width: 100%;
    }
  }

  @media screen and (max-height: 799px) {
    :host {
      width: 100%;
      min-width: 300px;
      margin: 0;
    }

    .form-content {
      padding: 15px 28px;
    }

    .title {
      font-size: 18px;
      margin-bottom: 16px;
    }

    .field {
      margin: 8px;
      text-align: center;
      width: 100%;
    }

    input[type=text], input[type=password] {
      font-size: 15px;
      width: 100%;
    }

    .check {
      margin-top: 6px;
    }

    label {
      font-size: 13px;
    }

    #sign-in {
      margin-top: 8px;
      margin-bottom: 2px;
    }

    #sign-up {
      margin-bottom: 8px;
      margin-top: 2px;
    }

    .error-message {
      padding: 3px;
      font-size: 10px;
      width: 100%;
    }

    .btn {
      font-size: 12px;
      width: 100%;
      height: 34px;
    }

    .buttons-container {
      width: 100%;
    }
  }

}


