table {
  border: 3px solid #E84545;
  width: 100%;
  word-break: break-all;
  text-align: center;
  table-layout: fixed;
}
table td, th {
  border: 2px solid #E84545;
}
table th {
  background: #E84545;
  color: white;
  height: 30px;
}
table td {
  font-weight: bold;
  color: gray;
  padding: 2px;
}

table tr {
  background: white;
}
@media screen and (max-width: 500px){
 .col-4 {
   width: 100px;
 }
  table {
    font-size: 13px;
  }

}
